body {
  font-family: "Roboto";
}
@media screen and (max-width: 768px) {
  body {
    width: 768px;
  }
}
@media screen and (max-width: 480px) {
  body {
    width: 480px;
  }
}

.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  position: relative;
  outline: red 10px solid;
  display: block;
}
@media screen and (max-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (max-width: 480px) {
  .container {
    width: 480px;
    margin-left: 0px;
  }
}

a {
  text-decoration: none;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

p {
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

/* header{
    position: fixed;
    top: 0;
    left: 0;
    background-color: #FFFFFF;
    width: 100%;
    z-index: 2;
border-bottom: solid #ECECEC 0.1px;
} */
header {
  border-bottom: solid #ECECEC 0.1px;
}

header .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 80px;
}
.backdrop {
  background: rgba(0, 0, 0, 0.2);
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1), 300ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1), 300ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  display: none;
}

.button-open {
  opacity: 0.1;
}

.button-close {
  width: 40px;
  height: 40px;
}

.modal {
  width: 528px;
  height: 581px;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-transform: translate(-50% -50%);
          transform: translate(-50% -50%);
  background: #FFFFFF;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}
@media screen and (max-width: 768px) {
  .modal {
    position: absolute;
    width: 450px;
    height: 609px;
  }
}

.close {
  margin-top: 8px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid #AFB1B8;
  padding-bottom: 10px;
  padding-top: 10px;
  fill: #000000;
}
@media screen and (max-width: 480px) {
  .close {
    margin-left: 0;
  }
}

.close:hover {
  fill: #2196F3;
  border: 1px solid #2196F3;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1), 300ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1), 300ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-modal {
  width: 480px;
  height: 796px;
  position: absolute;
  left: 0px;
  top: 0px;
  background-color: #ECECEC;
  position: fixed;
}

.menu__modal-svg {
  margin-left: 150px;
  display: block;
}
@media screen and (min-width: 480px) {
  .menu__modal-svg {
    display: none;
  }
}

.header-modal__list {
  margin-left: 40px;
}

.header-modal__item {
  margin-bottom: 35px;
}

.header-modal__item:last-child {
  margin-bottom: 0;
}

.header-modal__link {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 47px;
  letter-spacing: 0.02em;
  color: #212121;
}

.header-modal__link:hover {
  color: #2196F3;
}

.modal-contacst__list {
  display: block;
  margin-top: 200px;
  margin-left: 40px;
}

.modal-contacst__item {
  margin-bottom: 32px;
}

.modal-contacst__item:last-child {
  margin-bottom: 0;
}

.modal-contacst__link {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 0.02em;
  color: #757575;
}

.modal-contacst__link:hover {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 34px;
  line-height: 40px;
  /* identical to box height */
  letter-spacing: 0.02em;
  color: #2196F3;
}

.mini-links__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 40px;
  margin-top: 64px;
}

.mini-links__item {
  margin-left: 20px;
}

.mini-links__link {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  /* identical to box height, or 122% */
  letter-spacing: 0.02em;
  color: #2196F3;
}

.mini-links__item:first-child {
  margin-left: 0;
}

.header-logo {
  margin-right: 93px;
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
  color: black;
}

.line-nav-list {
  background-color: #2196F3;
  width: 100px;
  height: 10px;
  position: absolute;
  left: 228px;
  bottom: 0;
  border-radius: 10px;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1), 400ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1), 400ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (max-width: 480px) {
  .line-nav-list {
    display: none;
  }
}

.navigation-list:hover .line-nav-list {
  width: 1200px;
  left: 0;
}

.line-nav-list:hover {
  width: 1200px;
  left: 0;
}

span {
  color: #2196F3;
}

.navigation-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media screen and (max-width: 768px) {
  .navigation-list {
    margin-left: 0;
    width: 289.93px;
  }
}
@media screen and (max-width: 480px) {
  .navigation-list {
    display: none;
  }
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navigation-list__link {
  font-weight: 500;
  color: #212121;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1), 400ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1), 400ms cubic-bezier(0.4, 0, 0.2, 1);
}

.navigation-list__item {
  margin-right: 55px;
}

.navigation-list__link:hover {
  color: #2196F3;
}

.header-contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  /* outline: 10px solid green; */
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: auto;
  fill: currentColor;
}
@media screen and (max-width: 768px) {
  .header-contacts {
    display: block;
  }
}
@media screen and (max-width: 480px) {
  .header-contacts {
    display: none;
  }
}

.header-contacts__item {
  height: 16px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-contacts__item:last-child {
  margin-left: 30px;
}

.header-contacts__item:hover {
  fill: #2196F3;
  /* -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1), 400ms cubic-bezier(0.4, 0, 0.2, 1); */
}

.header-contacts__text {
  color: currentColor;
  margin-left: 10px;
}

.header-contacts__link {
  margin-left: 30px;
}

.header-contacts__link {
  /* info@devstudio.com */
  margin-top: 0;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14px;
  letter-spacing: 0.02em;
  color: #757575;
  margin-left: auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header-contacts__link:hover {
  color: #2196F3;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1), 400ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1), 400ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-contacts__link {
  /* +38 096 111 11 11 */
  /* margin-left: 50px; */
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #757575;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-contacts__link:hover {
  color: #2196F3;
}

.button-list__main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media screen and (max-width: 480px) {
  .button-list__main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.button-list__element {
  width: 130px;
  height: 38px;
  background: #F5F4FA;
  border-radius: 4px;
  border: #757575;
  color: #212121;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1), 500ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1), 500ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button-list__item {
  margin-right: 8px;
}

@media screen and (max-width: 480px) {
  .button-list__element:nth-child(4) {
    margin-left: 0;
  }
}

.button-list__item:last-child {
  margin-right: 0;
}

.button-list__element:hover {
  background: #2196F3;
  color: #F5F4FA;
  -webkit-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.12), 4px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.12), 4px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
  -webkit-transform: scale(1.1, 1.1);
          transform: scale(1.1, 1.1);
}

.main {
  padding-top: 94px;
}

.main-section {
  padding-top: 50px;
  padding-bottom: 94px;
}

.main-section .container {
  width: 1200px;
  outline: green 1px solid;
}
@media screen and (max-width: 768px) {
  .main-section .container {
    width: 768px;
  }
}

.card-main__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media screen and (max-width: 768px) {
  .card-main__list {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 768px;
  }
}
@media screen and (max-width: 480px) {
  .card-main__list {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 480px;
  }
}

.card-main__item {
  margin-right: 30px;
  padding-bottom: 20px;
  margin-bottom: 30px;
  background: #FFFFFF;
  border: 1px solid #EEEEEE;
  position: relative;
  overflow: hidden;
  border-radius: 8px;
  -webkit-transition: 1s cubic-bezier(0.4, 0, 0.2, 1), cubic-bezier(0.4, 0, 0.2, 1) 250ms;
  transition: 1s cubic-bezier(0.4, 0, 0.2, 1), cubic-bezier(0.4, 0, 0.2, 1) 250ms;
  width: 370px;
}
@media screen and (max-width: 768px) {
  .card-main__item {
    margin: 0;
    margin-top: 10px;
  }
}
@media screen and (max-width: 480px) {
  .card-main__item {
    width: 450px;
    height: 404px;
  }
}

@media screen and (max-width: 768px) {
  .card-main__item:nth-child(1n) {
    margin-right: 10px;
  }
}
.card-main__item:hover {
  border: 1px solid #EEEEEE;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px 4px 4px 4px;
  -webkit-transform: scale(1.1, 1.1);
          transform: scale(1.1, 1.1);
}
@media screen and (max-width: 768px) {
  .card-main__item:hover {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

.card-main__name {
  margin-left: 24px;
  margin-bottom: 10px;
  margin-top: 30px;
}

.card-main__card-item {
  margin-left: 24px;
  color: #757575;
}

.card-main__card-item:nth-child(3n) {
  margin-right: 0;
}

.product-name {
  position: absolute;
  width: 370px;
  height: 294px;
  left: 0px;
  top: 0px;
  opacity: 0;
  background: rgba(33, 150, 243, 0.9);
  padding-top: 63px;
  padding-left: 24px;
  -webkit-transform: translateY(500px);
          transform: translateY(500px);
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1), 400ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1), 400ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (max-width: 480px) {
  .product-name {
    width: 450px;
  }
}

.product-text {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  /* or 156% */
  letter-spacing: 0.03em;
  color: #FFFFFF;
}
@media screen and (max-width: 480px) {
  .product-text {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    /* or 156% */
    letter-spacing: 0.03em;
    color: #FFFFFF;
  }
}

.card-main__item:hover .product-name {
  -webkit-transform: translateY(0);
          transform: translateY(0);
  opacity: 1;
}

footer {
  padding-top: 60px;
  background: #2F303A;
  height: 252px;
  position: relative;
}
@media screen and (max-width: 768px) {
  footer {
    width: 768px;
    height: 463px;
  }
}
@media screen and (max-width: 480px) {
  footer {
    width: 480px;
    height: 603px;
    padding-top: 60px;
  }
}

footer .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media screen and (max-width: 768px) {
  footer .container {
    width: 768px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    margin-left: 0;
    display: flex;
  }
}
@media screen and (max-width: 480px) {
  footer .container {
    width: 480px;
    height: 603px;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    display: block;
    margin-left: 0px;
    display: block;
  }
}

address {
  margin-top: 20px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #FFFFFF;
  font-style: normal;
  margin-left: 89px;
}

.footer-logo {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19px;
  /* identical to box height */
  letter-spacing: 0.03em;
  color: #FFFFFF;
  margin-left: 125px;
}

.footer-item {
  display: block;
  margin-top: 9px;
  color: rgba(255, 255, 255, 0.6);
  margin-left: 129px;
}

.svg-footer {
  width: 206px;
  margin: 0;
  display: block;
  margin-left: 70px;
  margin-top: 15px;
}
@media screen and (max-width: 768) {
  .svg-footer {
    margin-left: 178px;
  }
}
@media screen and (max-width: 480px) {
  .svg-footer {
    margin-left: 137px;
    margin-top: 60px;
    height: 100px;
    margin-left: 100px;
  }
}

.svg-footer-name {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 20px;
  color: #FFFFFF;
}
@media screen and (max-width: 768px) {
  .svg-footer-name {
    width: 205.36px;
    margin-top: 0;
    height: 12.54px;
  }
}
@media screen and (max-width: 480px) {
  .svg-footer-name {
    margin-left: 40px;
  }
}

.svg-list-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.svg-list-item {
  margin-left: 10px;
  fill: #FFFFFF;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.1);
  width: 44px;
  height: 44px;
  padding: 12px;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1), 200ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1), 200ms cubic-bezier(0.4, 0, 0.2, 1);
}

.svg-list-item:first-child {
  margin-left: 0;
}

.svg-list-item:hover {
  fill: #FFFFFF;
  background: #2196F3;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.footer-svg-item:first-child {
  margin-left: 0;
}

.subgred {
  position: relative;
  margin-left: 70px;
  -webkit-transform: translateY(-46%);
          transform: translateY(-46%);
  margin-left: 70px;
}
@media screen and (max-width: 768px) {
  .subgred {
    top: 249px;
    left: 166px;
    margin-left: 0;
    position: absolute;
    width: 450px;
    height: 153.1px;
  }
}
@media screen and (max-width: 480px) {
  .subgred {
    position: absolute;
    top: 387px;
    left: 15px;
  }
}

.subgred-name__footer {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 20px;
  color: #FFFFFF;
}
@media screen and (max-width: 768px) {
  .subgred-name__footer {
    margin-top: 0px;
    margin-left: 100px;
    margin-bottom: 20px;
  }
}

.email-footer-subgred {
  background: #2F303A;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  width: 400px;
  height: 50px;
  border: #757575 1px solid;
  border-radius: 4px;
  padding-left: 17.32px;
  color: #AFB1B8;
  -webkit-transition: 1s cubic-bezier(0.4, 0, 0.2, 1), cubic-bezier(0.4, 0, 0.2, 1) 250ms;
  transition: 1s cubic-bezier(0.4, 0, 0.2, 1), cubic-bezier(0.4, 0, 0.2, 1) 250ms;
}
@media screen and (max-width: 768px) {
  .email-footer-subgred {
    margin-top: 0px;
    left: 0;
  }
}
@media screen and (max-width: 480px) {
  .email-footer-subgred {
    width: 450px;
  }
}

.email-footer-subgred:hover {
  border: #2196F3 1px solid;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1), 300ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1), 300ms cubic-bezier(0.4, 0, 0.2, 1);
  height: 100px;
  padding-bottom: 60px;
}

.footer-submit {
  background: #2196F3;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  width: 200px;
  height: 50px;
  border-radius: 4px;
  border: #2196F3 1px solid;
  color: #F5F4FA;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  margin-left: 12px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  /* identical to box height, or 188% */
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: #FFFFFF;
}
@media screen and (max-width: 768px) {
  .footer-submit {
    position: absolute;
    left: 90px;
    top: 90px;
    margin-top: 20px;
  }
}

.subgred-div-butteon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer-subgred-svg {
  fill: #F5F4FA;
  margin-left: 12.61px;
  margin-top: 6px;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1), 400ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1), 400ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-submit:hover .footer-subgred-svg {
  fill: #F5F4FA;
  margin-left: 40px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

/* .footer-subgred-svg:hover{
    transform :rotate(360deg);
    margin-left: 50px;
} */
.subgred-name {
  margin-left: 29px;
}/*# sourceMappingURL=portfholio.css.map */