body{
    font-family: 'Roboto';
}

/* header */
.header-logo{
    font-family: 'Raleway';
font-weight: 700;
font-size: 26px;
line-height: 1.19;
letter-spacing: 0.03em;
 color: #000000;
}

span{
    color: #2196F3;
}

.list-header{
    list-style: none;
   margin: 0;
   padding: 0;
}



.nav-list{
    font-weight: 500;
    color: #212121;
    width: 72px;
    height: 16px;
    margin-bottom: 32px;
    margin-right: 55px;
    font-style: normal;
    
    }

.nav-list:hover{
    color: #2196F3;
}


.email{
font-weight: 500;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.02em;
color: #757575;
font-style: normal;
}

.email:hover{
    color: #2196F3;
}

.tel{
font-weight: 500;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.02em;
color: #757575;
font-family: 'Roboto';
font-style: normal;
}

.tel:hover{
    color: #2196F3;
}
/* main */

.card-name{
    font-family: 'Roboto';
font-weight: 700;
font-size: 18px;
line-height: 2;
letter-spacing: 0.06em;

color: #212121;

}

.card-item{
    font-family: 'Roboto';
font-weight: 400;
font-size: 16px;
line-height: 1.87px;
letter-spacing: 0.03em;

color: #757575;

}

.button-nav{
    background: #FFFF;
    color: #000;

}

.button-nav:hover{
    background: #2196F3;
    color: #FFFF;
}