.footer{
    padding-top: 60px;
background: #2F303A;
height: 252px;

}


address{
    margin-top: 20px;
font-weight: 400;
font-size: 14px;
line-height: 1.71;
letter-spacing: 0.03em;
color: #FFFFFF;
font-style: normal;
}

.footer-logo{

    
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    /* identical to box height */
    letter-spacing: 0.03em;
    color: #FFFFFF;
    
}

.footer-item{
    display: block;
    margin-top: 9px;
    color: #FFFFFF99;
}

.svg-footer{
    width: 206px;
    margin: 0;
    display: block;
    margin-left: 70px;
    margin-top: 15px;
}

.svg-footer-name{
    font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 16px;
letter-spacing: 0.03em;
text-transform: uppercase;
margin-bottom: 20px;
color: #FFFFFF;

}

.footer-svg-list{
    display: flex;
}


.footer-svg-item{
    margin-left: 10px;
    fill: #FFFFFF;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.1);
    width: 44px;
    height: 44px;
    padding: 12px;
     transition: 250ms cubic-bezier(0.4, 0, 0.2, 1), 200ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-svg-item:hover{
    fill: #FFFFFF;
    background: $hover-color;
       
        transform: rotate(180deg);

}

.footer-svg-item:first-child{
    margin-left: 0;
}

.footer .container{
    display: flex;
}

.product-name{
    position: absolute;
width: 100%;
height: 294px;
left: 0px;
top: 0px;
right: 0;
transform: translateY(130%);
transition: 1s cubic-bezier(0.4, 0, 0.2, 1), 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.product-text{
    font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 28px;
/* or 156% */

letter-spacing: 0.03em;
margin-left: 24px;
margin-top: 63px;
color: #FFFFFF;
}

.card-main__item:hover .product-name{
    background: rgba(33, 150, 243, 0.9);
    transform: translate(0);
    
        box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);

}

.subgred{
    position: relative;
    margin-left: 70px;
    transform: translateY(-40%);
    margin-left: 70px;
}

.email-footer-subgred{
    background: #2F303A;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
width: 400px;
height: 50px;
border: $second-recolor 1px solid;
border-radius: 4px;
padding-left: 17.32px;
color: #AFB1B8;
transition: 1s cubic-bezier(0.4, 0, 0.2, 1), cubic-bezier(0.4, 0, 0.2, 1) 250ms;
}

.footer-submit{
    background: $hover-color;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
width: 200px;
height: 50px;
border-radius: 4px;
border: $hover-color 1px solid;
color: $read-white-color;
align-items: center;
position: absolute;
margin-left: 12px;

}

.email-footer-subgred:hover{
    border: $hover-color 1px solid;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1), 300ms cubic-bezier(0.4, 0, 0.2, 1);
    height: 100px;
    padding-bottom: 60px;
}

.subgred-div-butteon{
    display: flex;
    
}

.footer-subgred-svg{
    fill: $read-white-color;
    margin-left: 12.61px;
    margin-top: 6px;
     transition: 250ms cubic-bezier(0.4, 0, 0.2, 1), 400ms cubic-bezier(0.4, 0, 0.2, 1)
}

.footer-submit:hover .footer-subgred-svg{
    fill: $read-white-color;
    margin-left: 40px;
    transform :rotate(45deg);
}



.subgred-name{
    margin-top: 10px;
    margin-left: 29px;
}