.text-section{
    padding-top: 94px;
    padding-bottom: 94px;
}



.text-section__item::before{
    content: "";
    display: block;
    height: 120px;
    background: #F5F4FA;
    background-repeat: no-repeat;
    background-position: center;
    margin-bottom: 30px;
}

/* .text-section__item:nth-child(1)::before{
    background-image: url("../img/Group.jpg");
}

.text-section__item:nth-child(2)::before{
    
    background-image: url("../img/clock1.jpg");
}

.text-section__item:nth-child(3)::before{
    background-image: url("../img/diagram1.jpg");
}

.text-section__item:nth-child(4)::before{
    background-image: url("../img/astronaut1.jpg");
} */


.text-section__name{
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    
    color: $text-color;
    
}
 .text-section__list{
    display: flex;
    @media screen and (max-width:768px) {
        flex-wrap: wrap;
        height: 524.92px;
        
    }
 }
.text-section__item{
    width: 270px;
margin-left: 30px;
position: relative;
border-radius: 4px;
display: block;


@media screen and (max-width:768px) {
    width: 354px;
    
}
}

@media screen and (max-width:768px) {
    .text-section__item:nth-child(3){
        margin-left: 0;
    }
}

.svg-feathers{
    position: absolute;
    top: 25px;
    left: 100px;
}

.text-section__item:first-child{
    margin-left: 0;
}


.text-section__discription{
font-weight: 400;
font-size: 14px;
line-height: 24px;
letter-spacing: 0.03em;
color: $second-recolor;
margin-top: 10px;

}

h1,h2,h3,h4,h5{
    margin: 0;
}