footer{
    padding-top: 60px;
background: #2F303A;
height: 252px;
position: relative;


@media screen and (max-width:768px) {
    width: 768px;
height: 463px;
}
}

footer .container{
    @media screen and (max-width:768px) {
        width: 768px;
height: 440px;
flex-wrap: wrap;
display: flex;
flex-wrap: wrap;
margin-left: 0;
    }
}

address{
    margin-top: 20px;
font-weight: 400;
font-size: 14px;
line-height: 1.71;
letter-spacing: 0.03em;
color: #FFFFFF;
font-style: normal;
margin-left: 89px;

}

.footer-logo{

    
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19px;
    /* identical to box height */
    letter-spacing: 0.03em;
    color: #FFFFFF;
    margin-left: 125px;
    
}

.footer-item{
    display: block;
    margin-top: 9px;
    color: #FFFFFF99;
    margin-left: 129px;
}

.svg-footer{
    width: 206px;
    margin: 0;
    display: block;
    margin-left: 70px;
    margin-top: 15px;

    @media screen and (max-width:768) {
        margin-left: 178px;
    }
}

.svg-footer-name{
    font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 16px;
letter-spacing: 0.03em;
text-transform: uppercase;
margin-bottom: 20px;
color: #FFFFFF;


@media screen and (max-width:768px) {
        width: 205.36px;
        margin-top: 0;
        height: 12.54px;
    }
}

.svg-list-footer{
    display: flex;
}


.svg-list-item{
    margin-left: 10px;
    fill: #FFFFFF;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.1);
    width: 44px;
    height: 44px;
    padding: 12px;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1), 200ms cubic-bezier(0.4, 0, 0.2, 1);
}

.svg-list-item:first-child{
    margin-left: 0;
}

.svg-list-item:hover{
    fill: #FFFFFF;
    background: $hover-color;
     transform :rotate(180deg);
}


.footer-svg-item:first-child{
    margin-left: 0;
}

.footer .container{
    display: flex;
}
.subgred{
    position: relative;
    margin-left: 70px;
    transform: translateY(-46%);
    margin-left: 70px;
    @media screen and (max-width:768px) {
        top: 249px;
        left: 166px;
        margin-left: 0;
        position: absolute;
        // display: flex;
        width: 450px;
height: 153.1px;
    }
}

.subgred-name__footer{
    font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 16px;
letter-spacing: 0.03em;
text-transform: uppercase;
margin-bottom: 20px;
color: #FFFFFF;

@media screen and (max-width:768px) {
        margin-top: 0px;
        margin-left: 100px;
        margin-bottom: 20px;
        
    }
}

.email-footer-subgred{
    background: #2F303A;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
width: 400px;
height: 50px;
border: $second-recolor 1px solid;
border-radius: 4px;
padding-left: 17.32px;
color: #AFB1B8;
transition: 1s cubic-bezier(0.4, 0, 0.2, 1), cubic-bezier(0.4, 0, 0.2, 1) 250ms;


@media screen and (max-width:768px) {
        margin-top: 0px;
        left: 0;
        
    }
}


.email-footer-subgred:hover{
    border: $hover-color 1px solid;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1), 300ms cubic-bezier(0.4, 0, 0.2, 1);
    height: 100px;
    padding-bottom: 60px;

}


.footer-submit{
    background: $hover-color;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
width: 200px;
height: 50px;
border-radius: 4px;
border: $hover-color 1px solid;
color: #F5F4FA;
align-items: center;
position: absolute;
margin-left: 12px;

font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 30px;
/* identical to box height, or 188% */

align-items: center;
text-align: center;
letter-spacing: 0.06em;

color: #FFFFFF;



@media screen and (max-width:768px) {
         position: absolute;
         left: 90px;
         top: 90px;
         margin-top: 20px;
        
    }
}

.subgred-div-butteon{
    display: flex;
    
}

.footer-subgred-svg{
    fill: #F5F4FA;
    margin-left: 12.61px;
    margin-top: 6px;
     transition: 250ms cubic-bezier(0.4, 0, 0.2, 1), 400ms cubic-bezier(0.4, 0, 0.2, 1)
}

.footer-submit:hover .footer-subgred-svg{
    fill: #F5F4FA;
    margin-left: 40px;
    transform :rotate(45deg);
}

/* .footer-subgred-svg:hover{
    transform :rotate(360deg);
    margin-left: 50px;
} */

.subgred-name{
    // margin-top: 10px;
    margin-left: 29px;
    
}