.postiyni-name{
    font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 36px;
line-height: 42px;
text-align: center;
letter-spacing: 0.03em;
margin-bottom: 50px;
color: $text-color;
}

.postiyni-section .container{
    margin-top: 0;
    @media screen and (max-width:480px) {
        height: 393;
    }
}

.postiyni-section{
    background-color: #FFFFFF;
    height: 364px;
    padding-top: 94px;

    @media screen and (max-width:768px) {
        padding-top: 94px;
        height: 500px;
    }

    @media screen and (max-width:480px) {
        width: 480px;
        height: 700px;
    }
}

.klients-list-main{
    display: flex;
@media screen and (max-width:768px) {
    flex-wrap: wrap;
    margin-top: 30px;
    // margin-left: 50px;
    width: 768px;
}

@media screen and (max-width:480px) {
        margin-left: 0;
        flex-wrap: wrap;
        display: flex;
        width: 450px;
    }
}

.klients-list-item{
    border: #AFB1B8 1px solid;
    padding-top: 20px;
    width: 170px;
    padding-bottom: 20.77px;
    padding-left: 63px;
    border-radius: 4px 4px 4px 4px;
    margin-left: 30px;
    fill: #AFB1B8;
    transform: scale(1, 1);
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1), 400ms cubic-bezier(0.4, 0, 0.2, 1);
    @media screen and (max-width:768px) {
    margin-top: 30px;
    width: 226px;
    }
    @media screen and (max-width:480px) {
    width: 210px;
height: 90px;
margin-left: 10px;
    }
     

    
}

// @media screen and (max-width:768px) {
//    .klients-list-item:nth-child(1){
//     margin-left: 0;
//    }
//     }

//     @media screen and (max-width:768px) {
//    .klients-list-item:nth-child(4){
//     margin-left: 0;
//    }
//     }


.klients-list-item:hover{
    border: #2196F3 1px solid;
    fill: #2196F3;
    transform: scale(1.1, 1.1);
}