.hero-section{
    height: 600px;
align-items: center;
text-align: center;
padding-top: 200px;
padding-bottom: 200px;
background-image: linear-gradient(to right, rgba(47,48,58,0.4), rgba(47,48,58,0.4)),url(../img/Img.hero.jpg);
}


.title{
    font-family: 'Roboto';
font-style: normal;
font-weight: 900;
font-size: 44px;
line-height: 1.36px;
letter-spacing: 0.06em;
text-transform: uppercase;
margin-bottom: 30px;
color: #FFFFFF;


}

.title-button{
background: #2196F3;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
border-radius: 4px;
color: #FFFFFF;
border: #2196F3;
width: 200px;
height: 50px;
margin-top: 30px;
 transition: 250ms cubic-bezier(0.4, 0, 0.2, 1), 400ms cubic-bezier(0.4, 0, 0.2, 1)
}

.title-button:hover{
            transform: scale(1.1, 1.1);

}

.delo-section{
    padding-bottom: 94px;
    text-align: center;
}


 .delo-list__main{
    display: flex;
    margin-top: 50px;
 }

 .delo-list__item{
    color: white;
    margin-right: 30px;
    position: relative;
 }

 .delo-item:last-child{
    margin-right: 0;
 }

.text-section{
    padding-top: 94px;
    padding-bottom: 94px;
}

.main-item::before{
    content: "";
    display: block;
    height: 120px;
    background: #F5F4FA;
    background-repeat: no-repeat;
    background-position: center;
    margin-bottom: 30px;
}

/* .main-item:nth-child(1)::before{
    background-image: url("../img/Group.jpg");
}

.main-item:nth-child(2)::before{
    
    background-image: url("../img/clock1.jpg");
}

.main-item:nth-child(3)::before{
    background-image: url("../img/diagram1.jpg");
}

.main-item:nth-child(4)::before{
    background-image: url("../img/astronaut1.jpg");
} */



 .main-list{
    display: flex;
 }
.main-item{
    width: 270px;
margin-left: 30px;
position: relative;
border-radius: 4px;
}

.svg-feathers{
    position: absolute;
    top: 25px;
    left: 100px;
}

.main-item:first-child{
    margin-left: 0;
}

.child-item{
font-weight: 400;
font-size: 14px;
line-height: 24px;
letter-spacing: 0.03em;
color: $text-color;
margin-top: 10px;

}

h1,h2,h3,h4,h5{
    margin: 0;
}

.name-section__work{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.03em;
    
    color: $text-color;
    
}

/* .name-section-team{
} */


.block-name{
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    
    color: $text-color;
    
}

.name-section-team{
    font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 36px;
line-height: 42px;
text-align: center;
letter-spacing: 0.03em;

color: $text-color;

}

.div-name-box{
    background: rgba(47, 48, 58, 0.8);
    width: 370px;
height: 70px;
align-items: center;
display: flex;
position: absolute;
top: 224px;
}

.div-description-box{
    font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 16px;
text-align: center;
letter-spacing: 0.03em;
text-transform: uppercase;
margin-right: auto;
margin-left: auto;
color: #FFFFFF;

}


.our-team{
    text-align: center;
    background: #F5F4FA;
    padding-top: 94px;
    padding-bottom: 94px;
}

.our-team .container{
align-items: center;
}

.card-list__main{
 display: flex;
 margin-top: 50px;

}

.card-list__item{
   width: 270px;
    background: #FFFFFF;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    margin-right: 30px;
    padding-bottom: 30px;
    
}

.card-item:last-child{
    margin-right: 0;
}



.card-list__name{
font-weight: 500;
font-size: 16px;
line-height: 1.18;
text-align: center;
margin-top: 30px;
letter-spacing: 0.03em;
margin-bottom: 10px;
color: #212121;

}

.card-list__discription{
font-weight: 400;
font-size: 16px;
line-height: 1.18;
letter-spacing: 0.03em;
color: $text-color;
text-align: center;

}

.svg-team{
    display: flex;
    margin-top: 16px;
    margin-left: 32px;
}

.svg-item{
    margin-left: 10px;
    fill: #AFB1B8;
    border-radius: 50%;
    background-color: #FFFFFF;
    width: 44px;
    height: 44px;
    padding: 12px;
    position: relative;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1), 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
    
}
.svg-boxer{
    position: absolute;
    top: 25px;
    left: 100px;
    transform: rotate(0deg);
    
}

.svg-item:hover{
    fill: #FFFFFF;
    background-color: #2196F3;
    transform :rotate(180deg);
    /* transform :scale(1.1, 1.1); */
}

.svg-item:first-child{
    margin-left: 0;
}

.postiyni-name{
    font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 36px;
line-height: 42px;
text-align: center;
letter-spacing: 0.03em;
margin-bottom: 50px;
color: $text-color;
}

.postiyni-section{
    background-color: #FFFFFF;
    height: 364px;
    padding-top: 94px;
}

.klients-list__main{
    display: flex;

}

.klients-list__item{
    border: #AFB1B8 1px solid;
    padding-top: 20px;
    width: 170px;
    padding-bottom: 20.77px;
    padding-left: 63px;
    border-radius: 4px 4px 4px 4px;
    margin-left: 30px;
    fill: #AFB1B8;
    transform: scale(1, 1);
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1), 400ms cubic-bezier(0.4, 0, 0.2, 1);
}

.klients-list__item:hover{
    border: #2196F3 1px solid;
    fill: #2196F3;
    transform: scale(1.1, 1.1);
}