

section{
    @media screen and (width:480px) {
        width: 480px;
    }
    @media screen and (width:768px) {
        width: 768px;
    }
}

a{
    text-decoration: none;
}

ul{
    margin: 0;
    padding: 0;
    list-style: none;
}

p{
    margin: 0;
}

h1,h2,h3,h4,h5,h6{
    margin: 0;
}