

/* header */

.container{
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;

}

header{
    border-bottom: solid #ECECEC 0.1px;
}

header, section{
    /* outline: 10px solid green; */
}

header .container{
    display: flex;
    align-items: center;
    height: 80px;
}

   .header-logo{

margin-right: 93px;
font-family: 'Raleway';
font-weight: 700;
font-size: 26px;
line-height: 31px;
letter-spacing: 0.03em;

color: black;

}

span{
    color: #2196F3;
}

.list-header{
   display: flex;
}

nav{
    display: flex;
    align-items: center;
}

.nav-list{
    font-weight: 500;
    color: #212121;
    }

.nav-item{
    margin-right: 55px;
}

.nav-list:hover{
    color: #2196F3;
}


.svg-header{
    display: flex;
    /* outline: 10px solid green; */
    align-items: center;
    margin-left: auto;
    fill: currentColor;
}

.svg-header-item{
    height: 16px;
    align-items: center;
}

.svg-header-item:first-child{
    margin-left: 0;
}

.contact-text{
    color: currentColor;
    margin-left: 10px;
}

.icon-smartphone{
margin-left: 30px;
}

.email{
/* info@devstudio.com */
margin-top: 0;
font-weight: 500;
font-size: 14px;
line-height: 1.14px;
letter-spacing: 0.02em;
color: #757575;
margin-left: auto;
align-items: center;
display: flex;


}

.email:hover{
    color: #2196F3;
}

.svg-header-item:hover{
  fill: #2196F3;
}

.tel{
/* +38 096 111 11 11 */


/* margin-left: 50px; */
font-weight: 500;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.02em;
color: #757575;
align-items: center;
display: flex;
}

.tel:hover{
    color: #2196F3; 
}


.button-list{
    display: flex;
    justify-content: center;
    
}

.button-nav{
    width: 130px;
height: 38px;
background: #F5F4FA;
border-radius: 4px;
border: #757575;
color: #212121;

}

.list-item{
    margin-right: 8px;
}

.list-item:last-child{
    margin-right: 0;

}


.button-nav:hover{
    background: #2196F3;
    color: #F5F4FA;
}

main{
    padding-top: 94px;
}

.main-section{
    padding-top: 50px;
    padding-bottom: 94px;
}


.main-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.main-item{
    margin-right: 30px;
    padding-bottom: 20px;
    margin-bottom: 30px;
    background: #FFFFFF;
border: 1px solid #EEEEEE;
}

.main-item:hover{
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.12), 4px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.card-name{
    margin-left: 24px;
    margin-bottom: 10px;
    margin-top: 30px;
}

.card-item{
    margin-left: 24px;
    color: #757575;
}


.main-item:nth-child(3n){
    margin-right: 0;
}


/* footer */

.footer{
    padding-top: 60px;
background: #2F303A;
height: 252px;

}


address{
    margin-top: 20px;
font-weight: 400;
font-size: 14px;
line-height: 1.71;
letter-spacing: 0.03em;
color: #FFFFFF;
font-style: normal;
}

.footer-logo{

    
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    /* identical to box height */
    letter-spacing: 0.03em;
    color: #FFFFFF;
    
}

.footer-item{
    display: block;
    margin-top: 9px;
    color: #FFFFFF99;
}

.svg-footer{
    width: 206px;
    margin: 0;
    display: block;
    margin-left: 70px;
    margin-top: 15px;
}

.svg-footer-name{
    font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 16px;
letter-spacing: 0.03em;
text-transform: uppercase;
margin-bottom: 20px;
color: #FFFFFF;

}

.footer-svg-list{
    display: flex;
}


.footer-svg-item{
    margin-left: 10px;
    fill: #FFFFFF;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.1);
    width: 44px;
    height: 44px;
    padding: 12px;
}

.footer-svg-item:hover{
    fill: #FFFFFF;
    background: #2196F3;
}

.footer-svg-item:first-child{
    margin-left: 0;
}

.footer .container{
    display: flex;
}

