body{
    font-family: 'Roboto';
}

a{
    text-decoration: none;
    color: rgba(255, 255, 255, 0.6);
}

ul{
    margin: 0;
    padding: 0;
    list-style: none;
}

/* header */

.container{
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
}



header .container{
    display: flex;
    align-items: center;
    height: 80px;
}

   .header-logo{

margin-right: 93px;
font-family: 'Raleway';
font-weight: 700;
font-size: 26px;
line-height: 31px;
letter-spacing: 0.03em;

color: black;

}

span{
    color: #2196F3;
}

.list-header{
   display: flex;
}

nav{
    display: flex;
    align-items: center;
}

.nav-list{
    font-weight: 500;
    color: #212121;
    }

.nav-item{
    margin-right: 55px;
}

.nav-list:hover{
    color: #2196F3;
}


.email{
/* info@devstudio.com */

font-weight: 500;
font-size: 14px;
line-height: 16px;
letter-spacing: 0.02em;
color: #757575;
margin-left: auto;


}

.email:hover{
    color: #2196F3;
}

.tel{
/* +38 096 111 11 11 */


margin-left: 50px;
font-weight: 500;
font-size: 14px;
line-height: 16px;
letter-spacing: 0.02em;

color: #757575;

}

.tel:hover{
    color: #2196F3;
}

/* main */

.hero-section{
    width: 1600px;
height: 600px;
background: #2F303A;
padding-left: 200px;
}

.title{
    width: 696px;
height: 120px;
padding-top: 166px;
margin-left: 150px;
    font-family: 'Roboto';
font-style: normal;
font-weight: 900;
font-size: 44px;
line-height: 60px;
/* or 136% */
text-align: center;
letter-spacing: 0.06em;
text-transform: uppercase;


color: #FFFFFF;


}

.title-button{
background: #2196F3;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
border-radius: 4px;
color: #FFFFFF;
border: #2196F3;
width: 200px;
height: 50px;
margin-top: 250px;
margin-left: 400px;


}



.title-button:hover{
    background: #F5F4FA;
    color: #2196F3;
}



 .delo-list{
   
    display: flex;
    margin-left: 515;
    margin-top: 50px;
    margin-bottom: 94px;
 }

 .delo-item{
    color: white;
    margin-right: 30px;
 }
.text-section{
    width: 1200px;
}


 .main-list{
    width: 1200px;
    margin-left: 215px;
    display: flex;
    margin-top: 94px;
    margin-bottom: 94px;
 }
.main-item{
    width: 270px;
height: 101px;
margin-left: 30px;
}

.child-item{
font-weight: 400;
font-size: 14px;
line-height: 24px;
letter-spacing: 0.03em;
color: #757575;

}

h1,h2,h3,h4,h5{
    margin: 0;
}

.name-section{
    text-align: center;
    margin-top: 94px;
color: #212121;
    

}

.name-team{
    text-align: center;
    margin-top: 94px;
}


.block-name{
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    
    color: #212121;
    
}
.our-team{
    
    width: 1600px;
    height: 648px;
background: #F5F4FA;
}

.card-list{
 display: flex;
 margin-top: 50px;
 padding-bottom: 94px;
}

.card-item{
   
    background: #FFFFFF;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    
margin-left: 30px;
    
}
.card-name{
font-weight: 500;
font-size: 16px;
line-height: 1.18;
text-align: center;

letter-spacing: 0.03em;

color: #212121;

}

.card-child{
font-weight: 400;
font-size: 16px;
line-height: 1.18;
letter-spacing: 0.03em;
color: #757575;
text-align: center;

}

/* footer */

.footer{
    width: 1600px;
height: 252px;

background: #2F303A;

}

address{
padding-top: 60px;
font-weight: 400;
font-size: 14px;
line-height: 1.71;
letter-spacing: 0.03em;
margin-left: 215px;
padding-top: 111px;

color: #FFFFFF;

}



.footer-logo{
    position: absolute;
    left: 215px;
    top: 2250px;
    
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    /* identical to box height */
    letter-spacing: 0.03em;
    color: #FFFFFF;
    
}

.footer-item{
    display: block;
    margin-left: 215px;
    margin-top: 9px;

}

