/* body{
    padding-top: 80px;
} */

/* header */

.container{
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
    outline: green 10px solid;
}


header, section{
    /* outline: 10px solid green; */
}

header .container{
    display: flex;
    align-items: center;
    height: 80px;
    
}

/* header{
    position: fixed;
    top: 0;
    left: 0;
    background-color: #FFFFFF;
    width: 100%;
    z-index: 2;
border-bottom: solid #ECECEC 0.1px;
} */

   .header-logo{

margin-right: 93px;
font-family: 'Raleway';
font-weight: 700;
font-size: 26px;
line-height: 31px;
letter-spacing: 0.03em;

color: black;

}

span{
    color: #2196F3;
}

.list-header{
   display: flex;
}

nav{
    display: flex;
    align-items: center;
}

.nav-list{
    font-weight: 500;
    color: #212121;
    }

.nav-item{
    margin-right: 55px;
}

.nav-list:hover{
    color: #2196F3;
        transition: 250ms cubic-bezier(0.4, 0, 0.2, 1), 400ms cubic-bezier(0.4, 0, 0.2, 1);

}

.svg-header{
    display: flex;
    /* outline: 10px solid green; */
    align-items: center;
    margin-left: auto;
    fill: currentColor;
}

.svg-header-item{
    height: 16px;
    align-items: center;
}

.svg-header-item:first-child{
    margin-left: 0;
}

.contact-text{
    color: currentColor;
    margin-left: 10px;
}

.icon-smartphone{
margin-left: 30px;
}

.email{
/* info@devstudio.com */
margin-top: 0;
font-weight: 500;
font-size: 14px;
line-height: 1.14px;
letter-spacing: 0.02em;
color: #757575;
margin-left: auto;
align-items: center;
display: flex;


}

.email:hover{
    color: #2196F3;
       transition: 250ms cubic-bezier(0.4, 0, 0.2, 1), 400ms cubic-bezier(0.4, 0, 0.2, 1);

}

.svg-header-item:hover{
  fill: #2196F3;
      /* -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1), 400ms cubic-bezier(0.4, 0, 0.2, 1); */

}

.tel{
/* +38 096 111 11 11 */


/* margin-left: 50px; */
font-weight: 500;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.02em;
color: #757575;
display: flex;
align-items: center;

}

.tel:hover{
    color: #2196F3; 
    
}

/* main */

.hero-section{
    height: 600px;
align-items: center;
text-align: center;
padding-top: 200px;
padding-bottom: 200px;
background-image: linear-gradient(to right, rgba(47,48,58,0.4), rgba(47,48,58,0.4)),url(../img/Img.hero.jpg);
}



.title{
    font-family: 'Roboto';
font-style: normal;
font-weight: 900;
font-size: 44px;
line-height: 1.36px;
letter-spacing: 0.06em;
text-transform: uppercase;
margin-bottom: 30px;
color: #FFFFFF;


}

.title-button{
background: #2196F3;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
border-radius: 4px;
color: #FFFFFF;
border: #2196F3;
width: 200px;
height: 50px;
margin-top: 30px;
}

.delo-section{
    padding-bottom: 94px;
    text-align: center;
}


 .delo-list{
    display: flex;
    margin-top: 50px;
 }

 .delo-item{
    color: white;
    margin-right: 30px;
    position: relative;
 }

 .delo-item:last-child{
    margin-right: 0;
 }

.text-section{
    padding-top: 94px;
    padding-bottom: 94px;
}

.main-item::before{
    content: "";
    display: block;
    height: 120px;
    background: #F5F4FA;
    background-repeat: no-repeat;
    background-position: center;
    margin-bottom: 30px;
}

/* .main-item:nth-child(1)::before{
    background-image: url("../img/Group.jpg");
}

.main-item:nth-child(2)::before{
    
    background-image: url("../img/clock1.jpg");
}

.main-item:nth-child(3)::before{
    background-image: url("../img/diagram1.jpg");
}

.main-item:nth-child(4)::before{
    background-image: url("../img/astronaut1.jpg");
} */



 .main-list{
    display: flex;
 }
.main-item{
    width: 270px;
margin-left: 30px;
position: relative;
border-radius: 4px;
}

.svg-feathers{
    position: absolute;
    top: 25px;
    left: 100px;
}

.main-item:first-child{
    margin-left: 0;
}

.child-item{
font-weight: 400;
font-size: 14px;
line-height: 24px;
letter-spacing: 0.03em;
color: #757575;
margin-top: 10px;

}

h1,h2,h3,h4,h5{
    margin: 0;
}

.name-section-work{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.03em;
    
    color: #212121;
    
}

/* .name-section-team{
} */


.block-name{
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    
    color: #212121;
    
}

.name-section-team{
    font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 36px;
line-height: 42px;
text-align: center;
letter-spacing: 0.03em;

color: #212121;

}

.div-name-box{
    background: rgba(47, 48, 58, 0.8);
    width: 370px;
height: 70px;
align-items: center;
display: flex;
position: absolute;
top: 224px;
}

.div-description-box{
    font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 16px;
text-align: center;
letter-spacing: 0.03em;
text-transform: uppercase;
margin-right: auto;
margin-left: auto;
color: #FFFFFF;

}


.our-team{
    text-align: center;
    background: #F5F4FA;
    padding-top: 94px;
    padding-bottom: 94px;
}

.our-team .container{
align-items: center;
}

.card-list{
 display: flex;
 margin-top: 50px;

}

.card-item{
   width: 270px;
    background: #FFFFFF;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    margin-right: 30px;
    padding-bottom: 30px;
    
}

.card-item:last-child{
    margin-right: 0;
}



.card-name{
font-weight: 500;
font-size: 16px;
line-height: 1.18;
text-align: center;
margin-top: 30px;
letter-spacing: 0.03em;
margin-bottom: 10px;
color: #212121;

}

.card-description{
font-weight: 400;
font-size: 16px;
line-height: 1.18;
letter-spacing: 0.03em;
color: #757575;
text-align: center;

}

.svg-team{
    display: flex;
    margin-top: 16px;
    margin-left: 32px;
}

.svg-item{
    margin-left: 10px;
    fill: #AFB1B8;
    border-radius: 50%;
    background-color: #FFFFFF;
    width: 44px;
    height: 44px;
    padding: 12px;
    position: relative;
    
}
.svg-boxer{
    position: absolute;
    top: 25px;
    left: 100px;
    
}

.svg-item:hover{
    fill: #FFFFFF;
    background-color: #2196F3;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1), 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.svg-item:first-child{
    margin-left: 0;
}

.postiyni-name{
    font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 36px;
line-height: 42px;
text-align: center;
letter-spacing: 0.03em;
margin-bottom: 50px;
color: #212121;
}

.postiyni-section{
    background-color: #FFFFFF;
    height: 364px;
    padding-top: 94px;
}

.klients-list{
    display: flex;

}

.klients-item{
    border: #AFB1B8 1px solid;
    padding-top: 20px;
    width: 170px;
    padding-bottom: 20.77px;
    padding-left: 63px;
    border-radius: 4px 4px 4px 4px;
    margin-left: 30px;
    fill: #AFB1B8;
}

.klients-item:hover{
    border: #2196F3 1px solid;
    fill: #2196F3;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1), 400ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* footer */

footer{
    padding-top: 60px;
background: #2F303A;
height: 252px;

}


address{
    margin-top: 20px;
font-weight: 400;
font-size: 14px;
line-height: 1.71;
letter-spacing: 0.03em;
color: #FFFFFF;
font-style: normal;

}

.footer-logo{

    
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19px;
    /* identical to box height */
    letter-spacing: 0.03em;
    color: #FFFFFF;
    
}

.footer-item{
    display: block;
    margin-top: 9px;
    color: #FFFFFF99;
}

.svg-footer{
    width: 206px;
    margin: 0;
    display: block;
    margin-left: 70px;
    margin-top: 15px;
}

.svg-footer-name{
    font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 16px;
letter-spacing: 0.03em;
text-transform: uppercase;
margin-bottom: 20px;
color: #FFFFFF;

}

.footer-svg-list{
    display: flex;
}


.footer-svg-item{
    margin-left: 10px;
    fill: #FFFFFF;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.1);
    width: 44px;
    height: 44px;
    padding: 12px;
}

.footer-svg-item:hover{
    fill: #FFFFFF;
    background: #2196F3;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1), 200ms cubic-bezier(0.4, 0, 0.2, 1);
}


.footer-svg-item:first-child{
    margin-left: 0;
}

.footer .container{
    display: flex;
}

.backdrop{
    background: rgba(0, 0, 0, 0.2);
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1), 300ms cubic-bezier(0.4, 0, 0.2, 1);

}


.modal{
    width: 528px;
height: 581px;
position: absolute;
left: 50%;
top: 50%;
transform: translate(-50%,-50%);

transform: translate(-50% -50%);
    background: #FFFFFF;
box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
border-radius: 4px;

}


.close{
    margin-left: 477px;
    margin-top: 8px;
    width: 30px;
height: 30px;
border-radius: 50%;
border: 1px solid #AFB1B8;
padding-bottom: 10px;
padding-top: 10px;
fill: #000000;
}

.close:hover{
    fill: #2196F3;
    border: 1px solid #2196F3;
        transition: 250ms cubic-bezier(0.4, 0, 0.2, 1), 300ms cubic-bezier(0.4, 0, 0.2, 1);


}

.modal-list{
    margin-top: 12px;
}

.name-section{
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 23px;
text-align: center;
letter-spacing: 0.03em;

color: #212121;

}

.name{
width: 22px;
font-weight: 400;
font-size: 12px;
line-height: 14px;
/* identical to box height */
letter-spacing: 0.01em;
margin-left: 40px;
color: #757575;

}

.name:hover{
    color: #2196F3;
     transition: 250ms cubic-bezier(0.4, 0, 0.2, 1), 400ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input{
    border: 1px solid rgba(33, 33, 33, 0.2);
border-radius: 4px;
width: 448px;
height: 40px;
margin-top: 4px;
margin-bottom: 10px;
}

.item:hover .svg-icon{
    top: 0;
    left: 25px;
}

.input:hover{
    border: #2196F3 1px solid;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1), 400ms cubic-bezier(0.4, 0, 0.2, 1);
}
.coment{
    border: 1px solid rgba(33, 33, 33, 0.2);
border-radius: 4px;
width: 448px;
height: 120px;
padding-bottom: 15%;
position: relative;
}

.coment:hover{
    border: #2196F3 1px solid;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1), 400ms cubic-bezier(0.4, 0, 0.2, 1);
}


.label-modal{
    position: absolute;
    left: 10%;
    transform: translateY(80%);
    font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 16px;
letter-spacing: 0.01em;

color: rgba(117, 117, 117, 0.5);

}


.checkbox{
    background: #212121;
    width: 16px;
    height: 15px;
}


.check{
    margin-top: 20px;
}

.licens{
    color: #2196F3;
}

.submit{
    background: #2196F3;
    border: #2196F3;
    border-radius: 4px;
    width: 200px;
height: 50px;
color: #FFFFFF;
margin-top: 30px;
margin-left: auto;
margin-right: auto;

}

.backdrop.is-hidden{
    opacity: 0;
    pointer-events: none;
}

.submit:hover{
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.12), 4px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
       transition: 250ms cubic-bezier(0.4, 0, 0.2, 1), 500ms cubic-bezier(0.4, 0, 0.2, 1);
}


.item{
    position: relative;
}
.item:hover .name{
    color: #2196F3;
       transition: 250ms cubic-bezier(0.4, 0, 0.2, 1), 500ms cubic-bezier(0.4, 0, 0.2, 1);

}

.item:hover .svg-icon{
    fill: #2196F3;
       transition: 250ms cubic-bezier(0.4, 0, 0.2, 1), 500ms cubic-bezier(0.4, 0, 0.2, 1);

}

.item:hover .input{
    border: #2196F3 1px solid;
     transition: 250ms cubic-bezier(0.4, 0, 0.2, 1), 500ms cubic-bezier(0.4, 0, 0.2, 1);
}

.svg-icon{
    position: absolute;
    left: 52px;
    top: 33px;
    fill: #212121;
}

.svg-icon:hover{
    fill: #2196F3;
    transform: rotateZ(0deg);
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1), transform 1250ms cubic-bezier(0.4, 0, 0.2, 1);
     
}

.subgred{
    position: relative;
    margin-left: 70px;
    transform: translateY(-46%);
    margin-left: 70px;
}

.email-footer-subgred{
    background: #2F303A;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
width: 400px;
height: 50px;
border: #757575 1px solid;
border-radius: 4px;
padding-left: 17.32px;
color: #AFB1B8;
}

.email-footer-subgred:hover{
    border: #2196F3 1px solid;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1), 300ms cubic-bezier(0.4, 0, 0.2, 1);
    height: 100px;
    padding-bottom: 60px;
}


.footer-submit{
    background: #2196F3;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
width: 200px;
height: 50px;
border-radius: 4px;
border: #2196F3 1px solid;
color: #F5F4FA;
align-items: center;
position: absolute;
margin-left: 12px;

}

.subgred-div-butteon{
    display: flex;
    
}

.footer-subgred-svg{
    fill: #F5F4FA;
    margin-left: 12.61px;
    margin-top: 6px;
}

.subgred-name{
    margin-top: 10px;
    margin-left: 29px;
}