body{
    font-family: 'Roboto';
}

a{
    text-decoration: none;
    color: rgba(255, 255, 255, 0.6);
}

/* header */

header{
    outline: 2px solid red;
    width: 1600px;
    height: 80px;
}
   .header-logo{
    left: 215px;
top: 24px;

font-family: 'Raleway';
font-style: normal;
font-weight: 700;
font-size: 26px;
line-height: 31px;
/* identical to box height */
letter-spacing: 0.03em;

color: black;

}

span{
    color: #2196F3;
}

.list-header{
    list-style: none;
   margin: 0;
   padding: 0;
   display: flex;
   margin-left: 453px;
}



.nav-list{
    font-weight: 500;
    color: #212121;
    width: 72px;
    height: 16px;
    margin-top: 32px;
    margin-bottom: 32px;
    margin-right: 55px;
    font-style: normal;
    }

.nav-list:hover{
    color: #2196F3;
}


.email{
font-weight: 500;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.02em;
color: #757575;
font-style: normal;
}

.email:hover{
    color: #2196F3;
}

.tel{
font-weight: 500;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.02em;
color: #757575;
font-family: 'Roboto';
font-style: normal;
}

.tel:hover{
    color: #2196F3;
}

/* main */

.hero-section{
    width: 1600px;
height: 600px;
background: #2F303A;
outline: 2px solid red;
padding-left: 200px;
}

.title{
    width: 696px;
height: 120px;
margin-left: auto;
margin-right: auto;
padding-top: 166px;

font-family: 'Roboto';
font-style: normal;
font-weight: 900;
font-size: 44px;
line-height: 60px;
/* or 136% */
text-align: center;
letter-spacing: 0.06em;
text-transform: uppercase;

color: #FFFFFF;

font-weight: 900;
font-size: 44px;
line-height: 1.36;
text-align: center;
letter-spacing: 0.06em;
text-transform: uppercase;

color: #FFFFFF;

}

.title-button{
    width: 200px;
    height: 50px;
    background: #2196F3;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
border-radius: 4px;
    margin-top: 200px;
    margin-left: auto;
    margin-right: auto;
    color: #FFFFFF;
    border: #2196F3;
}

.title-button:hover{
    background: #F5F4FA;
    color: #2196F3;
}

.h2{
font-weight: 400;
font-size: 14px;
line-height: 1.71;
letter-spacing: 0.03em;

color: #757575;
font-weight: 700;
font-size: 36px;
text-align: center;
letter-spacing: 0.03em;

color: #212121;

}

.delo-section{
    outline: 2px solid red;
}

 .delo-list{
    width: 1170px;
 }

 .delo-item{
    color: white;
 }

.main-item{
    width: 270px;
color: #FFFFFF;
}


.child-item{
font-weight: 400;
font-size: 14px;
line-height: 24px;
letter-spacing: 0.03em;
color: #757575;

}

h1,h2,h3,h4,h5{
    margin: 0;
}


.block-name{
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    
    color: #212121;
    
}
.our-team{
    background: #F5F4FA;
    outline: 2px solid red;
}

.card-item{
    color: #F5F4FA;
    
}
.card-name{
font-weight: 500;
font-size: 16px;
line-height: 1.18;


letter-spacing: 0.03em;

color: #212121;

}

.card-child{
font-weight: 400;
font-size: 16px;
line-height: 1.18;
text-align: center;
letter-spacing: 0.03em;
color: #757575;

}

/* footer */

.footer{
    background: #2F303A;
    margin: 0;
}

address{
font-weight: 400;
font-size: 14px;
line-height: 1.71;
/* or 171% */

letter-spacing: 0.03em;

color: #FFFFFF;

}



.footer-logo{
    font-family: 'Raleway';
    font-weight: 700;
font-size: 26px;
line-height: 0.03;

letter-spacing: 0.03em;

color:#FFFFFF;
text-decoration: none;
}